<table class="ui table">
  <thead>
    <tr>
      <th>Task</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each todolist.tasks}}
      <tr>
        <td>
          {{item}}
        </td>
        <td>
        </td>
        <td>
          <a href="/todolist/{{../todolist.id}}/deletetask/{{id}}" class="ui tiny red button">Delete Task</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>